@import "tailwindcss";
@import 'tailwind-animations';
@custom-variant hover (&:hover);

@theme {
  --color-primary: #48e;
  --color-foreground: #112;
  --color-background: #eef;
  --font-google-sans: 'Google Sans';
}

* {
  font-family: 'Google Sans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
